[submodule "tools/submodules/tendermint"]
	path = tools/submodules/tendermint
	url = https://github.com/Overealityio/tendermint.git
[submodule "tools/submodules/system_contracts"]
	path = tools/submodules/system_contracts
	url = https://github.com/Overealityio/system-contracts.git
